
@{
    ViewBag.Title = "SearchMovie";
}

<h2>SearchMovie</h2>

<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#SrchBtn').click(function () {
                $.fn.LoadMovies();
            });
            $.fn.LoadMovies = function () {
                var searchtext = $("#SrchTxt").val();
                $.ajax({
                    url: "/Movies/FilterMoviesList",
                    data: { srchtxt: searchtext },
                    contentType: 'application/html;charset=utf-8',
                    type: 'Get',
                    dataType: 'html'
                }).done(function (result) {
                    $('#ListDiv').html(result);
                });
            }

            var movie = '@Request.RequestContext.HttpContext.Session["Search"]';
            if (movie != '')
            {
                $("#SrchTxt").val(movie);
                $.fn.LoadMovies();
            }
        });
    </script>

</head>
<body>
    <div>
        <input type="text" id="SrchTxt" placeholder="Search Movies" />
        <button id="SrchBtn">Search</button>
    </div>
    <div id="ListDiv"></div>



</body>