
@{
    ViewBag.Title = "UserRolesList";
}

<h2>UserRolesList</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <th>Current Registered Roles</th>
    </tr>
    <tr>
        <td>
            <ol>
                @foreach (var item in ViewBag.Roles)
                {
                    <li>@item.Name</li>
                }
            </ol>
        </td>
    </tr>
    @*@if (this.User.IsInRole("Admin")) {
        <tr>
            <td>
                <div>
                    @Html.ActionLink("Add new Role", "CreateRole", "Account");
                </div>
            </td>
        </tr>
    }*@

</table>
}