
@{
    ViewBag.Title = "RegisterConfirmation";
}

<h2>User Registered Successfully!</h2>

<button onclick="location.href='@Url.Action("Reister", "Account")'">Add New User</button>
<button onclick="location.href='@Url.Action("MoviesList", "Movies")'">Home</button>

